body {
    font-family: Arial, sans-serif;
    background-color: rgb(235, 31, 8);
    text-align: center;
}

.calculator {
    width: 200px;
    margin: 11px auto;
    padding: 10px;
    border: 5px red
}

.calculator input {
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
    background-color: cyan;
    outline: 0cqi;
}

.calculator table {
    width: 100%;
    text-align: center;
    line-height:5% ;
}

.calculator table td {
    text-align: center;
}

.calculator table button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    }
